.about {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 20px;
  align-items: start;

  margin-left: 130px;

  &__content {
    position: relative;
    grid-column: 2 / 7;
    grid-row: 1;
  }

  &__line {
    position: absolute;
    top: 190px;
    left: -55px;

    width: 1px;
    height: 30%;

    background-color: #344f10;
  }

  &__text {
    position: absolute;
    top: 0;
    left: -65px;
    transform: rotate(0deg);

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    width: 18px;
    height: 302px;

    writing-mode: sideways-lr;
    font-size: 14px;
    font-weight: 500;
    font-style: Medium;
    line-height: 130%;
    color: #344f10;
    letter-spacing: 0%;
  }

  &__description {
    display: grid;
    grid-column: 1/ 7;

    margin-bottom: 30px;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: Regular;
    line-height: 150%;
    color: #333;
    letter-spacing: 0%;

    &--second {
      margin-bottom: 40px;

      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: Regular;
      line-height: 150%;
      color: #333;
      letter-spacing: 0%;
    }
  }
  &__title {
    display: grid;
    grid-column: 1/ 7;

    margin-top: 0;
    margin-bottom: 40px;

    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 150%;
    color: #344f10;
    text-transform: uppercase;
    letter-spacing: 5%;
  }
  &__link {
    display: inline-block;

    padding-bottom: 10px;
    border-bottom: 1px solid #344f10;

    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: Medium;
    line-height: 130%;
    color: #344f10;
    text-decoration: none;
    letter-spacing: 0%;
  }
  &__images {
    display: flex;
    grid-column: 7 / 13;
    gap: 20px;
    align-items: flex-start;
  }

  &__image {
    flex-shrink: 0;
    margin-bottom: 200px;
    &--big {
      width: 380px;
      height: 529px;
    }

    &--small {
      align-self: flex-end;
      width: 180px;
      height: 430px;
    }
  }
}
