.creators {
  position: relative;

  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 20px;
  align-items: start;

  margin-left: 130px;

  font-family: Poppins, sans-serif;

  &__content {
    grid-column: 2 / 7;
    grid-row: 1;
  }

  &__text {
    position: absolute;
    left: 40px;
    transform: rotate(0deg);

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    width: 18px;
    height: 302px;

    writing-mode: sideways-lr;
    font-size: 14px;
    font-weight: 500;
    font-style: Medium;
    line-height: 130%;
    color: #344f1080;
    letter-spacing: 0%;
  }
  &__line {
    position: absolute;
    left: 49px;

    grid-row: 1;

    width: 1px;
    height: 88px;
    margin-top: 145px;

    background-color: #344f10;
  }

  &__title {
    grid-column: 2/7;
    grid-row: 1;
    align-self: start;

    margin-bottom: 20px;

    font-size: 36px;
    font-weight: 600;
    font-style: SemiBold;
    color: #344f10;
    text-transform: uppercase;
    letter-spacing: 5%;
  }

  &__description {
    margin-bottom: 30px;

    &--second {
      margin-bottom: 30px;
    }
    &--paragraph {
      margin-bottom: 40px;
    }
  }
  &__link {
    display: inline-block;
    grid-column: 2/ 6;

    margin-bottom: 40px;
    padding-bottom: 10px;

    font-size: 14px;
    font-weight: 500;
    font-style: Medium;
    line-height: 130%;
    color: #344f10;
    text-decoration: none;
    letter-spacing: 0%;

    &:hover {
      color: #333;
      text-decoration: underline;
      text-underline-offset: 13px;
    }
  }
  &__images {
    grid-column: 7/13;
    grid-row: 1;
  }

  &__button {
    position: relative;
    top: -150px;

    display: flex;
    grid-column: 2 / 5;
    align-items: center;
    justify-content: center;
    justify-self: start;

    width: 280px;
    height: 60px;
    border: 1px solid #333;

    font-size: 16px;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 130%;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 15%;

    background-color: #333;

    &:hover {
      border: 1px solid #333;
      color: #333;
      background-color: #e4dfd3;
    }
  }
}
