.dividers {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 20px;
}

.divider {
  height: 1px;
  background-color: #344f1080;

  &--first {
    grid-column: 1 / 7;
    margin-top: 100px;
  }
  &--second {
    grid-column: 8 / 14;
    margin-top: 131px;
    margin-bottom: 200px;
  }
}
